*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box

\:root
	font-size: 8px

html, body
	height: 100%

body
	min-width: 320px
	position: relative
	line-height: 1.3
	font-family: 'Open Sans', sans-serif
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

h1
	font-family: 'Open Sans', sans-serif
	font-style: normal
	font-weight: 800
	line-height: normal
	font-size: 72px
	letter-spacing: 0.05em

h2
	font-family: 'Open Sans', sans-serif
	font-style: normal
	font-weight: bold
	line-height: normal
	font-size: 36px

h3
	font-family: 'Open Sans', sans-serif
	font-style: italic
	font-weight: bold
	line-height: normal
	font-size: 18px

.fp
	font-family: 'Open Sans', sans-serif
	font-style: italic
	font-weight: normal
	line-height: 21px
	font-size: 12px

p
	font-family: 'Open Sans', sans-serif
	font-style: normal
	font-weight: normal
	line-height: 25px
	font-size: 14px
	hyphens: auto
	letter-spacing: 0.02em

.tw
	color: white

.tb
	color: #040404

.bl
	background: #040404

.wh
  background: white

li
	list-style-type: none
