@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	.grid
		grid-column-gap: 3rem
		grid-template-columns: 1fr



	.mg
    margin: 0 3rem


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	.xp-cont
		grid-template-columns: 1fr 1fr 1fr

	.me-photo
		background-position: center
		&::after
			background-position: center


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	\:root
		font-size: 9px

	.grid
		grid-template-columns: 1fr 1fr

	.xp-cont
		grid-template-columns: 1fr 1fr 1fr

	.portf-el
		height: 25rem

	.el-bg
		height: 17rem

	.el-info
		height: 8rem

	.portf-fg
		height: 25rem

	.portf-fg-bh
		height: 25rem

	.mg
    margin: 0 5rem
	.mnu-logo
		margin-top: -1rem
	.dwnl-cred
		margin-top: 5rem
		display: flex
		flex-direction: column-reverse
		grid-row: 9
		grid-column: 2
		order: 4

		.dwnl-btn
			z-index: 2

 .credits
		margin-top: 3rem
		margin-bottom: 7rem
		flex-direction: row-reverse

	.prof
		text-align: right

	.first-name
		text-align: left

	.sec-name
		text-align: left

	.me-photo
		height: 65rem
		z-index: 105
		pointer-events: none
		background-size: 65rem
		background-position: -5rem 0
		filter: drop-shadow(0px 2.5rem 2.5rem black)
		box
		&::after
			background-size: 65rem
			background-position: -5rem 0

	.separator
		margin-left: 3rem
		margin-right: 9rem
		position: relative
		top: 13rem

	.logo
		top: 15vh

	.me-section-1
		top: -15rem

	.about-section-2
		grid-row: 7 / 9
		grid-column: 2
		top: 11rem
		order: 3

	.skills-section-4
		grid-row: 6 / 7
		grid-column: 2
		top: 11rem
		margin-top: 0
		order: 2

	.xp-section-3
		margin-top: 85rem
		grid-column: 1
		grid-row: 3 / 7

	.ww-section-1
		top: 10vh

	.cont-section-5
		grid-column: 2
		grid-row: 5 / 6
		margin-bottom: 17rem
		order: 1

	.cont-section-6
		grid-column: 1
		grid-row: 7 / 9

	#lottie
		width: 80vw

	.main-dwnl
		position: relative
		top: 5rem
		display: flex
		flex-direction: row
		justify-content: space-between


	.dwnl-box-2
		flex: 1
		margin-left: 5rem
		margin-right: 17.5rem

	.text-par
		flex: 1
		margin-right: 5rem
		margin-left: 17.5rem

	.tr-right
		position: relative
		top: -235vh

	.map
		width: 125vw

	.map-section-1
		top: 20rem
		grid-template-columns: 1

	.map-one
		width: 94vw


/* Medium Devices, Desktops */
@media only screen and (min-width : 1024px)
	\:root
		font-size: 10px

		.xp-cont
		  grid-template-columns: 1fr 1fr 1fr 1fr

		.portf-wrap
			margin-top: 17rem


		.body-txt
			margin-left: 10vw
			margin-top: 20rem
			margin-bottom: 20rem

		.mnu-btn
			display: none

		.navbar
			bottom: auto
			top: 0
			height: 10rem

		.navbody
			height: 5rem
			top: 3rem

		.nav-menu
				position: absolute
				height: 3rem
			 right: 3rem
			 top: 50%
			 margin-top: -1.5rem
				width: 65vw
				display: flex
				flex-direction: row
				align-items: center
				justify-content: space-between
				li

						a
							 text-transform: uppercase
							 touch-action: manipulation
							 cursor: pointer
							 border-radius: 0
							 line-height: 3rem
							 user-select: none
							 transition: all .3s ease 0s
							 color: white
							 text-decoration: none
							 font-size: 1.5rem
							 font-weight: bold
							 text-align: center
							 letter-spacing: 0.05em

								&:hover
									color: #FF003A
									text-shadow: 0px 4px 100px rgba(255, 0, 58, 0.5)

		.tr-right
			top: -300rem

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1366px)
	\:root
		font-size: 11px

		.grid
			grid-column-gap: 5rem
			grid-template-columns: 1fr 1fr

		.xp-cont
		  grid-template-columns: 1fr 1fr 1fr 1fr 1fr

		.nav-menu
			width: 55vw

		.dwnl-cred
			grid-row: 6

		.about-section-2
			grid-row: 5 / 6

		.skills-section-4
			grid-row: 4 / 5

		.cont-section-5
			grid-row: 3 / 4

		.me-photo
			height: 90rem
			width: 90rem
			background-size: cover
			background-position: -5rem 0
			&::after
				height: 90rem
				width: 90rem
				background-size: cover
				background-position: -5rem 0

		.xp-section-3
			margin-top: 35rem
			grid-column: 1
			grid-row: 4 / 8

		.cont-section-6
			grid-column: 1
			grid-row: 10

		.tr-right
			top: -210rem

		.map
			width: 100vw
			left: 0
			top: -5vh

@media only screen and (min-width : 1600px)
	\:root
		font-size: 11px

		.xp-cont
		  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr

		.me-photo
			height: 105rem
			width: 105rem
			background-size: cover
			background-position: -5rem 0
			&::after
				height: 105rem
				width: 105rem
				background-size: cover
				background-position: -5rem 0

		.modo-cont
		  width: 100vw
		  height: 70vh


		.main-modo
			grid-column: 1 / 2
			font-size: 7rem
			left: 10vw
			width: 30vw

		.mockup
			height: 50vh
			width: 100vw

		.learn-wrap
			display: flex
			justify-content: space-between
		  align-items: center
		  flex-direction: row

		.learn-more
			width: 35vw

		.contacts-cont
			width: 35vw

		.cont-ww-section-5
			margin-top: 8rem

		.cont-ww-section-6
			margin-top: 8rem


		.annot-modo
			margin-left: 10vw


		.tr-right
			top: -200rem


@media only screen and (min-width : 2560px)
	\:root
		font-size: 19px

@media only screen and (min-width : 3440px)
	\:root
		font-size: 26px

@media only screen and (min-width : 5120px)
	\:root
		font-size: 38px

@media only screen and (min-width : 7680px)
	\:root
		font-size: 60px
