@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    transform: translateY(0)

  40%
    transform: translateY(-10px)

  60%
    transform: translateY(-5px)

@keyframes flicker
  2%, 6%, 10%, 100%
    opacity: 1
  0%, 4%, 8%
    opacity: 0

@keyframes flickerCol
  2%, 6%, 10%, 100%
    fill: #FF003A
  0%, 4%, 8%
    fill: #212121

.st1
  animation: 2s infinite bounce

.st5
  animation: 4s linear .5s both flickerCol, 2s infinite 1s bounce

// .st5
//   animation: 2s infinite 1s bounce

.me-photo
  animation: 4s infinite .5s both flicker
  &::after
    animation: 4s infinite .8s both flicker
