@import "fonts"
@import "libs"
@import "base"
@import "vars"

.js-loading *,
.js-loading *:before,
.js-loading *:after
  animation-play-state: paused !important
  pointer-events: none !important

.loading
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  color: #aaa
  font-size: 48px
  display: none

.js-loading .loading
  display: block

.grid
  display: grid

body
  background-color: $main

// Navbar
.navbar
  z-index: 15
  position: fixed
  height: 13rem
  width: 100%
  bottom: 0

.navbody
  position: absolute
  height: 7rem
  left: 3rem
  right: 3rem
  top: 3rem
  background: $main
  box-shadow: 0 0 10rem $main

.mnu-btn
  position: absolute
  width: 5rem
  height: 3rem
  right: 3rem
  top: 50%
  margin-top: -1.5rem

.mnu-logo
  position: absolute
  width: 5rem
  height: 3rem
  left: 3rem
  top: 50%
  margin-top: -1.5rem

// Separator

.separator
  position: absolute
  height: 2rem
  left: 3rem
  right: 3rem
  top: 3rem

.topic
  display: inline-block
  position: absolute
  left: 17.49%
  line-height: 1
  margin-top: 0
  font-size: 1.75rem
  letter-spacing: 0.2em
  font-weight: 700

.hr-line
  display: block
  width: 10vw
  height: 0.5rem
  position: absolute
  left: 0
  margin-top: 0.45rem

.page-count
  font-size: 1.75rem
  display: inline-block
  position: absolute
  right: 0%
  line-height: 1
  text-align: right
  margin-top: 0

// Section 1 My Photo

.me-photo
  z-index: -1
  position: absolute
  width: 100%
  height: 62.5rem
  background: url(../img/Me_3.png)
  background-repeat: no-repeat
  background-size: 62.5rem
  background-position: -6rem 0

.me-section-1
  position: relative
  grid-template-columns: repeat( auto-fit, minmax(272px, 1fr) )
  top: 49rem

.dwnl-box
  grid-column: 1
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  width: 100%
  height: 6rem

.dwnl-btn
  text-transform: uppercase
  flex-grow: 2
  touch-action: manipulation
  cursor: pointer
  border-radius: 0
  line-height: 1
  user-select: none
  background-color: $accent
  transition: all .3s ease 0s
  padding: 1.5em 5%
  color: $main
  box-shadow: $glow
  text-decoration: none
  font-size: 1.5rem
  font-weight: bold
  text-align: center
  letter-spacing: 0.05em

.dwnl-ico
  z-index: 1
  width: 4.7rem
  margin-left: 5%
  margin-right: 5%
  fill: white

.dwnl-txt
  flex-grow: 1
  font-style: italic
  font-weight: regular
  line-height: 21px
  font-size: 1.5rem

.dwnl-slash
  right: 0
  width: 0.5rem
  height: inherit
  background-color: $accent
  box-shadow: $glow
  margin-left: 0

.credits
  grid-column: 1
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  width: 100%
  height: 8rem
  margin-top: 8rem

.prof
  flex-grow: 1
  font-style: italic
  font-weight: normal
  line-height: normal
  font-size: 1.25rem

.credits-slash
  width: 0.5rem
  height: inherit
  background-color: white

.name-block
  flex-grow: 1

.first-name
  font-size: 7rem
  text-transform: uppercase
  line-height: 0
  text-align: right


.sec-name
  font-size: 1.75rem
  line-height: 0
  text-align: right
  font-weight: normal
  letter-spacing: 0.05em

// Section-2

.about-section-2
  margin-top: 8rem
  background-color: white
  padding-bottom: 5rem

.separator-2
  position: relative
  height: 2rem
  margin-top: 3rem

.about-head
  margin-top: 3rem

.skills-ls
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row

.border-slash
  width: 0.5rem
  height: 5rem

.skill
  height: 6rem
  width: 6rem
  background-color: $main
  color: white
  padding: 1.5rem 0
  border-radius: 50%
  font-size: 1.25rem
  text-align: center

.skill2
  line-height: 1.75rem
  font-size: 1.5rem
  text-align: center

.xp-section-3
  grid-column: 1

.last-jobs
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  margin-top: 5rem

.resp
  font-style: normal
  font-weight: normal
  line-height: normal
  font-size: 1.25rem
  letter-spacing: 0.05em

.sub
  // line-height: 0
  margin-bottom: 0

.logotypes
  width: 15rem
  height: 10rem

.logotypes-cont


.jobs-slash
  width: 0.5rem
  height: inherit
  background-color: $accent

.separ
  width: 10vw
  height: 0.5rem
  margin-top: 3rem
  margin-bottom: 3rem

.border-slash-2
  width: 0.5rem
  height: 0.5rem

.learn-more
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row

.more-btn-cont
  width: 21.25rem
  height: 6rem

.more-btn
  width: 21.25rem
  height: 6rem
  margin-top: 5rem
  text-transform: uppercase
  touch-action: manipulation
  cursor: pointer
  border-radius: 0
  line-height: 1
  user-select: none
  background-color: white
  transition: all .3s ease 0s
  padding: 0.65em 3.2em
  color: $main
  text-decoration: none
  font-size: 2.25rem
  font-weight: bold
  text-align: center
  letter-spacing: 0.05em

.jobs-slash-2
  width: 0.5rem
  height: 22rem

.jobs-slash-2
  width: 0.5rem
  height: 10rem

.contacts-cont
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  margin-top: 3rem
  margin-bottom: 3rem


.contacts
  margin-top: 3rem

.contacts-item
  display: inline-block
  font-size: 1.75rem
  line-height: 1.3

.socicon
  color: white
  font-size: 4rem
  text-decoration: none

.copyright
  margin-left: 3rem
  font-size: 1.25rem
  color: white
  line-height: 5
  margin-bottom: 17rem

/* Menu Icon

.menu-toggle
  span
    display: block
    position: absolute
    height: 0.5rem
    width: 50%
    background: white
    opacity: 1
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
    &:nth-child(even)
      left: 50%
      border-radius: 0 1rem 1rem 0
    &:nth-child(odd)
      left: 0px
      border-radius: 1rem 0 0 1rem
    &:nth-child(1), &:nth-child(2)
      top: 0px
    &:nth-child(3), &:nth-child(4)
      top: 1.25rem
    &:nth-child(5), &:nth-child(6)
      top: 2.5rem
  &.open span
    &:nth-child(1), &:nth-child(6)
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
    &:nth-child(2), &:nth-child(5)
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      transform: rotate(-45deg)
    &:nth-child(1)
      left: 0.5rem
      top: 0.5rem
    &:nth-child(2)
      left: calc(50% - 5px)
      top: 0.5rem
    &:nth-child(3)
      left: -50%
      opacity: 0
    &:nth-child(4)
      left: 100%
      opacity: 0
    &:nth-child(5)
      left: 0.5rem
      top: 2rem
    &:nth-child(6)
      left: calc(50% - 5px)
      top: 2rem

// CONTACTS

.map
  z-index: -1
  position: absolute
  width: 57rem
  height: 38rem
  left: -11rem
  top: 2rem

.st5
  fill: $accent

.map-section-1
  z-index: 2
  position: relative
  grid-template-columns: repeat( auto-fit, minmax(272px, 1fr) )
  top: 13rem

.map-slash
  right: 0
  width: 0.5rem
  height: inherit
  background-color: white
  box-shadow: $glow
  margin-left: 0

.kh-place
  padding-left: 3rem
  flex-grow: 1

.kh-city
  line-height: 0
  letter-spacing: 0.05em


.kh-country
  line-height: 0
  letter-spacing: 0.1em

.soc-section-3
  grid-column: 1
  margin-top: 8rem

.link-ls
  margin-top: 3rem
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row

.link-btn-round
  height: 6rem
  width: 6rem
  background-color: white
  color: $main
  padding: 1.5rem 0
  border-radius: 50%
  font-size: 3rem
  text-align: center

#lottie
  width: 320px
  display: block
  overflow: hidden
  transform: translate3d(0,0,0)
  opacity: 1
  z-index: -1



@import "media" // Всегда в конце
