@import "fonts"
@import "libs"
@import "base"
@import "vars"


mark
  background-color: $accent
  font-weight: 700

.grid
  display: grid

body
  background-color: $main

// Navbar
.nav-menu
  display: none

.navbar
  z-index: 15
  position: fixed
  height: 13rem
  width: 100%
  bottom: 0

.navbody
  outline: solid white 0.5rem
  position: absolute
  height: 7rem
  left: 3rem
  right: 3rem
  top: 3rem
  background: $main
  box-shadow: 0 0 10rem $main

.mnu-btn
  position: absolute
  width: 5rem
  height: 3rem
  right: 3rem
  top: 50%
  margin-top: -1.5rem
  cursor: pointer

.mnu-logo
  position: absolute
  width: 5rem
  height: 3rem
  left: 3rem
  top: 50%
  margin-top: -1.5rem

// Separator

.separator
  position: absolute
  height: 2rem
  top: 3rem
  right: 3rem
  left: 3rem

.separator-ind
  position: absolute
  height: 2rem
  top: 3rem
  right: 3rem
  left: 3rem


.topic
  display: inline-block
  position: absolute
  left: 17.49%
  line-height: 1
  margin-top: 0
  font-size: 1.75rem
  letter-spacing: 0.2em
  font-weight: 700

.hr-line
  display: block
  width: 10%
  height: 0.5rem
  position: absolute
  left: 0
  margin-top: 0.45rem

.page-count
  font-size: 1.75rem
  display: inline-block
  position: absolute
  right: 0%
  line-height: 1
  text-align: right
  margin-top: 0

// Section 1 My Photo

.me-photo
  grid-column: 1
  z-index: -1
  position: absolute
  width: 100%
  height: 62.5rem
  background: url(../img/Me_3.png)
  background-repeat: no-repeat
  background-size: 62.5rem
  background-position: -6rem 0
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 62.5rem
    background: url(../img/Me_3_stroke-min-old.png)
    background-repeat: no-repeat
    background-size: 62.5rem
    background-position: -6rem 0

.me-section-1
  position: relative
  top: 49rem


.dwnl-cred
  grid-column: 1

.dwnl-box
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  width: 100%
  height: 6rem

.dwnl-btn
  text-transform: uppercase
  flex-grow: 2
  touch-action: manipulation
  cursor: pointer
  line-height: 1
  user-select: none
  background-color: $accent
  transition: all .3s ease 0s
  padding: 1.5em 5%
  color: $main
  box-shadow: $glow
  text-decoration: none
  font-size: 1.5rem
  font-weight: bold
  text-align: center
  letter-spacing: 0.05em
  &:hover
    box-sizing: border-box
    background-color: transparent
    outline: 0.5rem solid white
    color: white
    box-shadow: none



.dwnl-ico
  z-index: 1
  width: 4.7rem
  margin-left: 5%
  margin-right: 5%
  fill: white

.dwnl-txt
  flex-grow: 1
  font-style: italic
  font-weight: regular
  line-height: 2.625rem
  font-size: 1.5rem

.dwnl-slash
  right: 0
  width: 0.5rem
  height: inherit
  background-color: $accent
  box-shadow: $glow
  margin-left: 0

.credits
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  width: 100%
  height: 8rem
  margin-top: 8rem

.prof
  flex-grow: 1
  font-style: italic
  font-weight: normal
  line-height: normal
  font-size: 1.25rem

.credits-slash
  width: 0.5rem
  height: inherit
  background-color: white

.name-block
  flex-grow: 1

.first-name
  font-size: 7rem
  text-transform: uppercase
  line-height: 0
  text-align: right


.sec-name
  font-size: 1.75rem
  line-height: 0
  text-align: right
  font-weight: normal
  letter-spacing: 0.05em

// Section-2

.about-section-2
  margin-top: 8rem
  background-color: white
  padding-bottom: 5rem

.skills-section-4
  margin-top: 8rem
  background-color: white
  padding-bottom: 5rem

.separator-2
  position: relative
  height: 2rem
  margin-top: 3rem

.about-head
  margin-top: 3rem

.skills-ls
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row

.border-slash
  width: 0.5rem
  height: 5rem

.skill
  height: 6rem
  width: 6rem
  background-color: $main
  color: white
  padding: 1.5rem 0
  border-radius: 50%
  font-size: 1.25rem
  text-align: center

.skill2
  width: 6rem
  line-height: 1.75rem
  font-size: 1.5rem
  text-align: center

.skill-sep
  margin-top: 5rem

.xp-section-3
  grid-column: 1

.cont-section-5
  grid-column: 1

.cont-section-6
  grid-column: 1

.cont-ww-section-5
  grid-column: 1
  margin-top: 8rem

.cont-ww-section-6
  grid-column: 1
  margin-top: 8rem

.last-jobs
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  margin-top: 5rem

.resp
  font-style: normal
  font-weight: normal
  line-height: normal
  font-size: 1.25rem
  letter-spacing: 0.05em

.sub
  margin-bottom: 0

.logotypes
  width: 15rem
  height: 10rem

.logotypes-cont


.jobs-slash
  width: 0.5rem
  height: inherit
  background-color: $accent

.separ
  width: 10vw
  height: 0.5rem
  margin-top: 3rem
  margin-bottom: 3rem

.border-slash-2
  width: 0.5rem
  height: 0.5rem

.learn-more
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row

.more-btn-cont
  width: 21.25rem
  height: 6rem

.more-btn
  width: 21.25rem
  height: 6rem
  margin-top: 5rem
  text-transform: uppercase
  touch-action: manipulation
  cursor: pointer
  line-height: 1
  user-select: none
  background-color: white
  transition: all .3s ease 0s
  padding: 0.65em 3.2em
  color: $main
  text-decoration: none
  font-size: 2.25rem
  font-weight: bold
  text-align: center
  letter-spacing: 0.05em
  &:hover
    box-sizing: border-box
    transform: scale(.95, .95)
    background-color: transparent
    outline: 0.5rem solid white
    color: white
    box-shadow: none


.jobs-slash-2
  width: 0.5rem
  height: 22rem

.jobs-slash-2
  width: 0.5rem
  height: 10rem

.contacts-cont
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  margin-top: 3rem
  margin-bottom: 3rem


.contacts
  margin-top: 3rem

.contacts-item
  display: inline-block
  font-size: 1.75rem
  line-height: 1.3
  transition: all .25s
  &:hover
    letter-spacing: 0.2em
    color: $accent

.socicon
  color: white
  font-size: 4rem
  text-decoration: none
  transition: all .15s
  &:hover
    color: $accent
    transform: scale(1.5, 1.5)

.copyright
  margin-left: 3rem
  font-size: 1.25rem
  color: white
  line-height: 5
  margin-bottom: 17rem
  letter-spacing: 0.05em

/* Menu Icon

.menu-toggle
  span
    display: block
    position: absolute
    height: 0.5rem
    width: 50%
    background: white
    opacity: 1
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
    &:nth-child(even)
      left: 50%
    &:nth-child(odd)
      left: 0px
    &:nth-child(1), &:nth-child(2)
      top: 0px
    &:nth-child(3), &:nth-child(4)
      top: 1.25rem
    &:nth-child(5), &:nth-child(6)
      top: 2.5rem
  &.open span
    &:nth-child(1), &:nth-child(6)
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
    &:nth-child(2), &:nth-child(5)
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      transform: rotate(-45deg)
    &:nth-child(1)
      left: 0.5rem
      top: 0.5rem
    &:nth-child(2)
      left: calc(50% - 0.625rem)
      top: 0.5rem
    &:nth-child(3)
      left: -50%
      opacity: 0
    &:nth-child(4)
      left: 100%
      opacity: 0
    &:nth-child(5)
      left: 0.5rem
      top: 2rem
    &:nth-child(6)
      left: calc(50% - 0.625rem)
      top: 2rem

// CONTACTS

.map-wrap
  max-width: 100vw
  overflow-x: hidden

.map
  z-index: -1
  position: fixed
  width: 57rem
  left: -12rem
  top: 2rem

.st5
  fill: $accent


.map-section-1
  z-index: 2
  position: relative
  top: 13rem

.ww-section-1
  z-index: 2
  position: relative
  top: 13rem

.map-slash
  right: 0
  width: 0.5rem
  height: inherit
  background-color: white
  margin-left: 0

.kh-place
  padding-left: 3rem
  flex-grow: 1

.kh-city
  line-height: 0
  letter-spacing: 0.05em


.kh-country
  line-height: 0
  letter-spacing: 0.1em

.soc-section-3
  grid-column: 1
  margin-top: 8rem

.link-ls
  margin-top: 3rem
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row

.link-btn-round
  height: 6rem
  width: 6rem
  background-color: white
  color: $main
  padding: 1.5rem 0
  border-radius: 50%
  font-size: 3rem
  text-align: center

.last-sec
  margin-bottom: 18rem

.contacts-2
  margin-top: 8rem

  // WW

.logo
  position: relative
  top: 12.5rem
  display: grid
  width: 100vw
  align-content: center
  justify-content: center


#lottie
  width: 320px
  overflow: hidden
  z-index: -1

.dwnl-box-2
  margin-top: 5rem
  grid-column: 1
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  width: 100%
  height: 6rem

.modo-cont
  width: 100vw
  height: 37.5rem
  margin-top: 5rem
  background-image: url(../img/ww-bg.png)
  background-position: center
  background-size: cover
  overflow: hidden
  background-attachment: fixed

.main-modo
  display: block
  position: relative
  width: 12rem
  height: 15rem
  left: 7rem
  padding-top: 10rem
  text-indent: -0.6em

.annot-modo
  position: static
  margin-left: 7rem
  margin-top: 1rem

.brand-section-3
  grid-column: 1
  margin-top: 5rem

.mockup
  width: 100vw
  height: 40vh
  margin-top: 5rem
  background-image: url(../img/MockUp.jpg)
  background-position: center
  background-size: cover
  background-attachment: fixed

// SKILLS list

.s1
  background-image: url(../img/icons/skills/ps.svg)
  background-position: center
  background-size: 75%

.s2
  background-image: url(../img/icons/skills/ai.svg)
  background-position: center
  background-size: 75%

.s3
  background-image: url(../img/icons/skills/ae.svg)
  background-position: center
  background-size: 75%

.s4
  background-image: url(../img/icons/skills/pr.svg)
  background-position: center
  background-size: 75%

.s5
  background-image: url(../img/icons/skills/gravit.svg)
  background-position: center
  background-size: 50%
  background-repeat: no-repeat

.s6
  background-image: url(../img/icons/skills/figma.svg)
  background-position: center
  background-size: 100%

.s7
  background-image: url(../img/icons/skills/xd.svg)
  background-position: center
  background-size: 75%

.s8
  background-image: url(../img/icons/skills/au.svg)
  background-position: center
  background-size: 75%

.s9
  background-image: url(../img/icons/skills/html.svg)
  background-position: center
  background-size: 100%
  background-repeat: no-repeat

.s10
  background-image: url(../img/icons/skills/css.svg)
  background-position: center
  background-size: 100%

.s11
  background-image: url(../img/icons/skills/bs.svg)
  background-position: center
  background-size: 100%

.s12
  background-image: url(../img/icons/skills/git.svg)
  background-position: center
  background-size: 75%
  background-repeat: no-repeat

.s13
  background-image: url(../img/icons/skills/md.svg)
  background-position: center
  background-size: 100%

.s14
  background-image: url(../img/icons/skills/ios.svg)
  background-position: center
  background-size: 100%

.s15
  background-image: url(../img/icons/skills/fd.svg)
  background-position: center
  background-size: 100%

.s16
  background-image: url(../img/icons/skills/en.svg)
  background-position: center
  background-size: 50%
  background-repeat: no-repeat

.s17
  background-image: url(../img/icons/skills/fr.svg)
  background-position: center
  background-size: 50%
  background-repeat: no-repeat

.s18
  background-image: url(../img/icons/skills/ua.svg)
  background-position: center
  background-size: 50%
  background-repeat: no-repeat

.s19
  background-image: url(../img/icons/skills/ru.svg)
  background-position: center
  background-size: 50%
  background-repeat: no-repeat

@import "media" // Всегда в конце
